/* Textures from https: //www.transparenttextures.com/ */

body {
    background-color: #f0eeea;
    background-image: url('./assets/concrete-wall-3.png');
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: #f0eeea;
    z-index: 1000;
    opacity: 95%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-modal {
    width: 400px;
    height: 300px;
    border: 2px solid #6f2f46;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    opacity: 1;
    margin: 0 auto;
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    z-index: 1001;
    font-size: 2em;
}

.overlay-modal h1 {
    padding: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.modal-button {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    margin: 50px;
    font-size: 1.8em;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-button:hover {
    text-decoration: underline;
    font-size: 2.2em;
    cursor: pointer;
}

.button-yes {
    color: rgb(86, 146, 86);
}

.button-no {
    color: rgb(146, 86, 86);
}

h1, h2 {
    color: #6f2f46;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    text-shadow: -1px -1px #f0c266;
}

a {
    color: #9F8144;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.6em;
}

a:hover {
    color: #f0c266;
}

header {
    display: flex;
    align-items: center;
    background-color: #6f2f46;
    height: 130px;
    border-bottom: 2px solid #f0c266;
    background-image: url('./assets/cream-pixels.png');
}

header h1 {
    font-family: 'Diplomata SC', cursive;
    font-size: 4em;
    color: #f0c266;
    text-shadow: -1px -1px #9F8144;
    padding-left: 15px;
    letter-spacing: 5px;
    width: 800px;
}

header img {
    width: 120px;
    height: auto;
    opacity: 70%;
}

header ul {
    margin-left: auto;
    display: flex;
    padding-right: 20px;
    color: #9F8144;
}

header li {
    padding: 0 15px;
}

header li > img {
    height: 30px;
    width: auto;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.copy {
    width: 600px;
    padding-left: 50px;
}

.pill-img {
    justify-content: center;
    width: 700px;
    opacity: 70%;
    margin: 100px auto;
}

.section-title {
    font-size: 3.5em;
    margin-top: 50px;
    margin-left: 50px;
    padding: 10px 30px;
    border-left: 5px solid #9F8144;
}

.copy h1 {
    font-style: italic;
}

.copy h2 {
    font-size: 2.5em;
    margin-top: 50px;
    padding-left: 50px;
    width: 400px;
}

.copy li {
    border: 2px solid #9F8144;
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #6f2f46;
    padding: 20px;
    width: 350px;
    margin: 25px 50px;
    opacity: 70%;
}

.copy li:nth-child(even) {
    margin-left: 150px;
}

.about {
    min-height: 500px;
    width: 100%;
    background-color: #2f3771;
    margin-top: 50px;
    border-top: 2px solid #9F8144;
    border-bottom: 2px solid #9F8144;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

.about::before {
    content: "";
    background-image: url('./assets/concrete-wall-3.png');
    background-repeat: repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.about img {
    width: 350px;
    height: 350px;
    border-radius: 250px;
    border: 3px solid #9F8144;
    opacity: 70%;
}

.about article {
    width: 740px;
}

.about h2 {
    font-size: 3.5em;
    color: #9F8144;
    text-shadow: -1px -1px #f0c266;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-left: 5px solid #f0c266;
    width: 100%;
}

.about img {
    margin: 50px 0;
}

.about p {
    font-size: 1.5em;
    color: #f0c266;
    margin: 25px;
    opacity: 80%;
    font-family: 'Montserrat Alternates', sans-serif;
}

.products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 800px;
}

.products div {
    width: 700px;
}

.products img {
    width: 400px;
    height: auto;
    padding: 50px 150px 0 150px;
}


.product-desc {
    width: 700px;
    padding-left: 50px;
}

.product-desc h1 {
    font-size: 2.5em;
    margin-top: 70px;
}

.product-desc p {
    color: #6f2f46;
    font-size: 2em;
    padding-top: 20px;
    opacity: 70%;
}

.contact-form {
    min-height: 500px;
    width: 100%;
    background-color: #2f3771;
    margin: 50px 0 300px 0;
    border-top: 2px solid #9F8144;
    border-bottom: 2px solid #9F8144;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    color: #f0c266;
}

.contact-form::before {
    content: "";
    background-image: url('./assets/concrete-wall-3.png');
    background-repeat: repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.contact-form h1 {
    width: 100%;
    text-align: center;
    font-size: 3em;
    padding-top: 50px;
    color: inherit;
}

.contact-form form {
    margin: 0 auto;
    z-index: 1;
    padding-bottom: 20px;
}

.contact-form input, label, select {
    display: block;
    font-family: 'Montserrat Alternates', sans-serif;
}

.contact-form label {
    font-size: 1.5em;
    color: inherit;
    padding: 10px 0 20px 0;
}

.contact-form input, select {
    height: 30px;
    width: 200px;
    margin-top: 10px;
    border: 2px solid #9F8144;
    border-radius: 5px;
    padding-left: 5px;
}

.contact-form input[type=submit] {
    background-color: #6f2f46;
    color: #f0c266;
    width: 150px;
}

.contact-form input[type=submit]:hover {
    background-color: #f0c266;
    color: #6f2f46;
    border-color: #6f2f46;
    font-weight: 700;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6f2f46;
    height: 100px;
    border-top: 2px solid #f0c266;
    background-image: url('./assets/cream-pixels.png');
}

footer p {
    color: #f0c266;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1em;
    padding-left: 20px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 500px;
    padding-right: 20px;
}

footer a {
    font-size: 1em;
    padding: 0 10px;
}

