/* Textures from https: //www.transparenttextures.com/ */

body {
    background-color: #f0eeea;
    background-image: url('./assets/concrete-wall-3.png');
}

h1, h2 {
    color: #6f2f46;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    text-shadow: -1px -1px #f0c266;
    width: 500px;
}

header {
    display: flex;
    align-items: center;
    background-color: #6f2f46;
    height: 130px;
    border-bottom: 2px solid #f0c266;
    background-image: url('./assets/cream-pixels.png');
}

header h1 {
    font-family: 'Diplomata SC', cursive;
    font-size: 4em;
    color: #f0c266;
    text-shadow: -1px -1px #9F8144;
    padding-left: 15px;
    letter-spacing: 5px;
    width: 800px;
}

header img {
    width: 120px;
    height: auto;
    opacity: 70%;
}

header ul {
    margin-left: auto;
    display: flex;
    padding-right: 20px;
    color: #9F8144;
}

header li {
    padding: 0 15px;
}

header li > a {
    color: #9F8144;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.6em;
}

header li > a:hover {
    color: #f0c266;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.copy {
    width: 600px;
    padding-left: 50px;
}

.pill-img {
    justify-content: center;
    width: 700px;
    opacity: 70%;
    margin: 100px auto;
}

.copy h1 {
    font-size: 3.5em;
    margin-top: 50px;
    margin-left: 50px;
    padding: 10px 30px;
    border-left: 5px solid #9F8144;
    font-style: italic;
}

.copy h2 {
    font-size: 2.5em;
    margin-top: 50px;
    padding-left: 50px;
    width: 400px;
}

.copy li {
    border: 2px solid #9F8144;
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #6f2f46;
    padding: 20px;
    width: 350px;
    margin: 25px 50px;
    opacity: 70%;
}

.copy li:nth-child(even) {
    margin-left: 150px;
}